::ng-deep .node {
    cursor: pointer;
}

::ng-deep .node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}


::ng-deep .selected-node circle {
    fill: black;
    stroke: steelblue;
    stroke-width: 3px;
  }

::ng-deep .node text {
  font: 12px sans-serif;
}

::ng-deep .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

/* context menu */

.context-menu {
    display: none;
    position: absolute;
    z-index: 10;
    padding: 12px 0;
    width: 240px;
    background-color: #fff;
    border: solid 1px #dfdfdf;
    box-shadow: 1px 1px 2px #cfcfcf;
  }
  
  .context-menu--active {
    display: block;
  }
  
  .context-menu__items {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .context-menu__item {
    display: block;
    margin-bottom: 4px;
  }
  
  .context-menu__item:last-child {
    margin-bottom: 0;
  }
  
  .context-menu__link {
    display: block;
    padding: 4px 12px;
    color: #0066aa;
    text-decoration: none;
  }
  
  .context-menu__link:hover {
    color: #fff;
    background-color: #0066aa;
  }

  .example-card{
      width: 500px;
  }
  
  .dashboard{
      padding: 10px;
  }

  .center {
    margin: auto;
    width: 20%;
    padding-bottom: 0px;
  }

